*
{
    padding: 0;
    margin: 0;
}

nav
{
    position: fixed;
    background-color: rgb(11, 31, 39);
    height: 70px;
    width: 100%;
    z-index: 1;
}


.logo 
{
    font-size: 25px;
    position: relative;
    left: 5%;
    color: white;
    font-weight: bold;
    line-height: 70px; 
}

ul 
{
    position: relative;
    float: right;
    margin-right: 20px;
}

ul li 
{
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;
}

ul li a
{
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.main_img
{
    width: 100%;
    height: 300px;
}

.section1
{
    padding-top: 70px;
}

.img_text
{
    position: absolute;
    top: 20%;
    Left: 30;
    color: white;
    background-color: midnightblue;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 25px;
}


.welcome_img
{
    width: 100%;
    height: 250px;
}

.container
{
    padding-top: 70px;
}

.teacher
{
    width: 90%;
    height: 200px;
}
.label_text
{
    display:inline-block;
    width: 100px;
    text-align: right;
    padding-right: 10px;
}

.input_deg
{
    width: 30%;
    height: 40px;
    border-radius: 25px;
    border: 1 px solid blue;
}

.adm_int
{
    padding-top: 10px;
}

.input_txt
{
    width: 30%;
    height: 120px;
    border-radius: 25px;
    border: 1 px solid blue;
}

#submit
{
    position: relative;
    width: 15%;
    left: 5%;
}

footer
{
    background-color: black;
    height: 70px;
    width: 100%;
}
.footer_text
{
    text-align: center;
    color: white;
    top: 20%;
    position: relative;
}

.adm
{
    padding-top: 30px;
    padding-bottom: 30px;
}